body {
    margin: 0;
    background-color: black;
}
.container {
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    width: 70%;
}
.barra {
    background-color: black !important;
}
a:hover{
    background-color: darkgray;
}